#sidebar {
    width: clamp(10%, 30%, 50%);
    background-color: var(--background-alt);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    transition: all .2s ease-out;
}

#sidebar_content {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    height: calc(100% - 2.4rem);
    margin-right: 1px;
    white-space: nowrap;
    transition: all 0.5s ease-in-out;
    overflow-x: hidden;
}

#pulltab {
    position: relative;
    left: 0;
    padding: 0.2rem 0;
    width: calc(100% + 2rem);
    height: 2rem;
    background-color: var(--teriary);
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: end;
    align-items: center;
    box-shadow: var(--shadow-elevation-low);
    transition: all 0.5s ease-in-out;
}
#pulltab svg {
    color: var(--border-highlight);
    transition: color 0.3s ease-in-out;
}
#pulltab:hover svg {color: whitesmoke;}
/*######################## pulltab*/

#boards_list {flex: 1;}
/*######################## boards_list*/

#trash {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    margin: 0 5rem;
    margin-bottom: calc(5dvh + 1rem);
}
#trash div {display: none;}
#trash svg {
    position: absolute;
    color: var(--border-highlight);
    transition: all 0.3s ease-in-out;
}
#trash.open svg {
    scale: 1.1;
    color: whitesmoke;
}
#trash.open>#trash_lid {
    rotate: -20deg;
    transform: translate(5px, -3px);
}
#trash.open>#trash_can {
    rotate: 1deg;
    transform: translate(0px, 5px);
}
#trash.dropzone.dragover {
    border: none;
    animation: none;
}
/*######################## trash*/

input[type="checkbox"].pin+svg {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
input[type="checkbox"].pin {
    opacity: 0;
    scale: 0;
    position: absolute;
}
input[type="checkbox"].pin+svg:hover {color: rgb(117, 117, 117);}
input[type="checkbox"].pin:checked+svg {color: #2590f4;}
input[type="checkbox"].pin:checked+svg:hover {color: #2875bd;}
/*######################## pin*/