#sidebar {
    width: clamp(10%,30%,50%);
    background-color: var(--background-alt);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    transition: all .2s ease-out;
}
#sidebar_content {
    padding: 0 1rem;
    height: calc(100% - 2.4rem);
    margin-right: 1px;
    white-space: nowrap;
    transition: all 0.5s ease-in-out;
}

#pulltab {
    position: relative;
    left: 0;
    padding: 0.2rem 0;
    width: calc(100% + 2rem);
    height: 2rem;
    background-color: var(--teriary);
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: end;
    align-items: center;
    box-shadow: var(--shadow-elevation-low);
    transition: all 0.5s ease-in-out;
}
#pulltab svg {
    color: var(--border-highlight);
    transition: color 0.3s ease-in-out;
}
#pulltab:hover svg {color: #FFF;}