:root {
    --shadow-color: 336deg 24% 48%;
    --shadow-elevation-low:
        0.6px 0.5px 0.9px hsl(var(--shadow-color) / 0.36),
        1.1px 0.9px 1.7px -1px hsl(var(--shadow-color) / 0.42),
        2.6px 2.3px 4.2px -2px hsl(var(--shadow-color) / 0.48);
    --shadow-elevation-medium:
        0.6px 0.5px 0.9px hsl(var(--shadow-color) / 0.38),
        2.3px 2px 3.7px -0.7px hsl(var(--shadow-color) / 0.42),
        5.6px 4.8px 8.9px -1.3px hsl(var(--shadow-color) / 0.47),
        13.2px 11.3px 20.9px -2px hsl(var(--shadow-color) / 0.52);
    --shadow-elevation-high:
        0.6px 0.5px 0.9px hsl(var(--shadow-color) / 0.35),
        4.9px 4.2px 7.7px -0.3px hsl(var(--shadow-color) / 0.37),
        9.1px 7.8px 14.4px -0.6px hsl(var(--shadow-color) / 0.39),
        14.6px 12.5px 23.1px -0.9px hsl(var(--shadow-color) / 0.41),
        22.5px 19.3px 35.6px -1.1px hsl(var(--shadow-color) / 0.44),
        34.4px 29.4px 54.3px -1.4px hsl(var(--shadow-color) / 0.46),
        51.3px 43.8px 80.9px -1.7px hsl(var(--shadow-color) / 0.48),
        74.6px 63.8px 117.8px -2px hsl(var(--shadow-color) / 0.5);
}
:root[data-theme="light"] {
    --text: #1e060d;
    --text-alt: #f9e1eb;
    --background: #f9e1eb;
    --background-alt: #efc9d7;
    --border-highlight: rgba(0, 0, 0, 0.2);
    --primary: #c96987;
    --secondary: #e3936d;
    /*--accent: #B47C22;*/
    --accent: #DFA443;
    --teriary: #f2c9c5;
    --shadow-color: 336deg 24% 48%;
}
:root[data-theme="dark"] {
    --shadow-color: 335deg 100% 0%;
    --text: #f9e1e8;
    --text-alt: #1e060d;
    --background: #1e0610;
    --background-alt: #28111b;
    --border-highlight: rgba(255, 255, 255, 0.2);
    --primary: #963654;
    --secondary: #92411c;
    --teriary: #411813;
    --accent: #dda54b;
}

@font-face {
    font-family: "Rubik";
    src: url("./Rubik/Rubik-Regular.ttf");
}
@font-face {
    font-family: "Rubik";
    src: url("./Rubik/Rubik-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Rubik";
    src: url("./Rubik/Rubik-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Rubik";
    src: url("./Rubik/Rubik-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

* {margin: 0;}
body {
    font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: var(--text);
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow-y: hidden;
    background-color: var(--background);
}
h1, h2, h3, h4, h5 {
    font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
html {font-size: 100%;} /* 16px */
h1 {font-size: 3.053rem; /* 48.8px */}
h2 {font-size: 2.442rem; /* 39.04px */}
h3 {font-size: 1.954rem; /* 31.2px */}
h4 {font-size: 1.563rem; /* 24.96px */}
h5 {font-size: 1.250rem; /* 20px */}
small {font-size: 0.800rem; /* 12.8px */}

.hide{display: none;}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
/*######################## base*/

.scroll {
    overflow-y: auto;
}
.scroll::-webkit-scrollbar {
    width: 12px;
}
.scroll::-webkit-scrollbar-track {
    background-color: var(--border-highlight);
    border-radius: 50px;
    border: solid 5px transparent;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: rgb(from var(--text) r g b / 50%);
    border-radius: 50px;
    background-clip: content-box;
    border: solid 2px transparent;
}
/*######################## scroll*/

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;

    top: 0px;
    height: 5dvh;
    padding: 0.2rem 1rem;
    z-index: 2;

    font-size: 19px;
    background-color: var(--background);
    border-bottom: 1pt solid var(--border-highlight);

    transition: all 0.5s ease-in-out;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 94dvh;
}

/*######################## main elements*/

@keyframes slide_in {
    from {
        top: 100%;
    }
    to {
        top: 0;
    }
}
.slide_in {
    animation: slide_in 0.5s ease forwards;
}
@keyframes nope_out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}
header {
    position: absolute;
    pointer-events: none; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.alert {
    pointer-events: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10dvw;
    gap: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 0.5rem;
    background-color: rgba(255, 206, 20, 0.9);
    box-shadow: var(--shadow-elevation-high);
    color: #1e060d;
}
.alert.error {background-color: rgba(254, 99, 77, 0.9);}
.alert.info {background-color: rgba(174, 213, 253, 0.9);}
.alert.success {background-color: rgba(84, 225, 91, 0.9);}
/*######################## alerts*/


.link {
    position: relative;
    padding: 10px;
    text-decoration: none;
    color: var(--text);
    transition: all .1s ease-out;
}
.link:hover {
    text-decoration: none;
    color: var(--text);
    font-size: 25px;
}
.link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    height: 5px;
    z-index: 5;
    transition: all .3s ease-in-out;
}
.link.alt::before {
    background-color: rgb(from var(--accent) r g b / 70%);
    top: 80%;
}
.link:hover::before {
    background-color: rgb(from var(--primary) r g b / 70%);
    top: 80%;
}
.link.talt:hover::before {background-color: rgb(from var(--accent) r g b / 70%);}
/*######################## links*/

input[type="checkbox"].toggle+label {
    /*visible label*/
    font-size: 12px;
    font-weight: 550;
    text-transform: uppercase;
    margin-right: 2%;
    padding: 0.4% 0.5%;
    border-radius: 5px;

    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    top: -9000px;
    left: -9000px;
}
input[type="checkbox"].toggle+label:hover {
    color: rgb(117, 117, 117);
}
input[type="checkbox"].toggle+label::before {
    content: "";
    width: 4em;
    height: 1.5em;
    border-radius: 1em;
    background-color: rgb(117, 117, 117);
    margin-right: 0.25em;
}
input[type="checkbox"].toggle+label::after {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1em;
    background-color: #fffefa;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2rem;
    background-image: url('https://api.iconify.design/iconamoon:mode-light-fill.svg?color=%2308081a');
    transition: all 200ms ease-in-out;
}
input[type="checkbox"].toggle:checked+label::after {
    transform: translateX(1.5rem);
    background-color: #08081a;
    background-image: url('https://api.iconify.design/iconamoon:mode-dark-fill.svg?color=%23fffefa');
}
/*######################## toggle switch*/