{% extends "layout.html" %}

{% block title %}
Account
{% endblock %}

{% block navbar1 %}
    <a class="link" href="./">Home</a>
    <a class="link" href="./todos">Lists</a>
    <a class="link" href="./subjects">Subjects</a>
{% endblock %}

{% block navbar2 %}
    <a class="link alt" href="./account">{{ session["user_name"] }}</a>
{% endblock %}

{% block main %}
    <div id="login_form" class="container">
        <h5 style="text-align: center;">You are currently logged in as: {{ session["user_name"] }}</h5>
        <form action="/logout" method="get">
            <button class="input_button" name="submit" value="submit_logout" type="submit">Log Out</button>
        </form>
    </div>
{% endblock %}