{% extends "layout.html" %}

{% block title %}
Boards
{% endblock %}

{% block navbar1 %}
    <a class="link" href="./">Home</a>
    <a class="link" href="./todos">Boards</a>
{% endblock %}

{% block navbar2 %}
    <a class="link" href="./account">{{ session["user_name"] }}</a>
{% endblock %}

{% block sidebar %}
<div id="sidebar">
    <div id="pulltab" onclick="toggleSidebar()">
        <svg id="pulltab_open" class="hide" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
            viewBox="0 0 24 24">
            <path fill="currentColor"
                d="m14.475 12l-7.35-7.35q-.375-.375-.363-.888t.388-.887q.375-.375.888-.375t.887.375l7.675 7.7q.3.3.45.675t.15.75q0 .375-.15.75t-.45.675l-7.7 7.7q-.375.375-.875.363T7.15 21.1q-.375-.375-.375-.888t.375-.887L14.475 12Z" />
        </svg>
        <svg id="pulltab_close" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
            <path fill="currentColor"
                d="m3.55 12l7.35 7.35q.375.375.363.875t-.388.875q-.375.375-.875.375t-.875-.375l-7.7-7.675q-.3-.3-.45-.675T.825 12q0-.375.15-.75t.45-.675l7.7-7.7q.375-.375.888-.363t.887.388q.375.375.375.875t-.375.875L3.55 12Z" />
        </svg>
    </div>
    <div id="sidebar_content" class="scroll">
        <div>
            <h5>Number of sessions: </h5>
            <input class="input_number" name="nsessions" type="number" min="1" value="5" disabled>
            <button class="input_button" name="submit" value="edit" type="submit">Edit</button>
        </div>
        <div>
            <h5>Info: </h5>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
<div id="adder" class="close">
    <svg onclick="toggleAdderMenu()" id="adder_icon" xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 24 24">
        <path fill="currentColor"
            d="M11 13H6q-.425 0-.712-.288T5 12q0-.425.288-.712T6 11h5V6q0-.425.288-.712T12 5q.425 0 .713.288T13 6v5h5q.425 0 .713.288T19 12q0 .425-.288.713T18 13h-5v5q0 .425-.288.713T12 19q-.425 0-.712-.288T11 18v-5Z" />
    </svg>
    <div id="adder_menu" class="close">
        <div class="input_box">
            <input name="name" type="text" placeholder="Session Text">
        </div>
        <div class="input_box">
            <input name="start" type="date">
        </div>
        <h6>option2</h6>
    </div>
</div>
<div class="session">
    <div>
        <div class="header_container">
            <h5>Session 1</h5>
        </div>
        <div class="sub_container dropbox">
            <h5 class="draggable" draggable="true">SUBJECT 001</h5>
            <h5 class="draggable" draggable="true">SUBJECT 002</h5>
        </div>
    </div>
    <?xml version="1.0" encoding="UTF-8"?><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="10 0 24 3.28"><defs><style>.cls-1{fill:#888;}</style></defs><path class="cls-1" d="M22.51,2.52V.45H.23c-.06,0-.12-.02-.16-.06C.02,.34,0,.29,0,.23,0,.16,.02,.11,.06,.06,.11,.02,.16,0,.23,0H22.51c.12,0,.23,.04,.32,.13,.09,.09,.13,.19,.13,.32V2.52l.65-.65s.1-.07,.16-.07c.06,0,.12,.02,.16,.06,.05,.05,.07,.1,.07,.16s-.02,.12-.07,.16l-1.04,1.04s-.05,.04-.07,.05c-.03,0-.05,.01-.08,.01-.03,0-.06,0-.08-.01-.03,0-.05-.03-.07-.05l-1.04-1.04s-.07-.1-.06-.16c0-.06,.03-.11,.07-.16,.05-.04,.1-.06,.16-.06,.06,0,.11,.02,.16,.06l.65,.65Z"/></svg>
</div>
<div class="session flip">
    <?xml version="1.0" encoding="UTF-8"?><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="10 0 24 3.28"><defs><style>.cls-1{fill:#888;}</style></defs><path class="cls-1" d="M22.51,2.52V.45H.23c-.06,0-.12-.02-.16-.06C.02,.34,0,.29,0,.23,0,.16,.02,.11,.06,.06,.11,.02,.16,0,.23,0H22.51c.12,0,.23,.04,.32,.13,.09,.09,.13,.19,.13,.32V2.52l.65-.65s.1-.07,.16-.07c.06,0,.12,.02,.16,.06,.05,.05,.07,.1,.07,.16s-.02,.12-.07,.16l-1.04,1.04s-.05,.04-.07,.05c-.03,0-.05,.01-.08,.01-.03,0-.06,0-.08-.01-.03,0-.05-.03-.07-.05l-1.04-1.04s-.07-.1-.06-.16c0-.06,.03-.11,.07-.16,.05-.04,.1-.06,.16-.06,.06,0,.11,.02,.16,.06l.65,.65Z"/></svg>
    <div>
        <div class="header_container">
            <h5>Session 1</h5>
        </div>
        <div class="sub_container dropbox">
            <h5 class="draggable" draggable="true">SUBJECT 003</h5>
            <h5 class="draggable" draggable="true">SUBJECT 004</h5>
        </div>
    </div>
</div>
{% endblock %}