<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <link href="./static/main.css" rel="stylesheet">
    <link href="./static/sidebar.css" rel="stylesheet">
    <script src="/static/script.js"></script>
    <script src="/static/retrieve_token.js"></script>
    <script src="/static/themes.js"></script>

    <title>IGCSE Todo List: {% block title %}{% endblock %}</title>
</head>

<body>
    <nav id="navbar">
        <svg style="margin-right: 5rem;" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 1024 1024">
            <path fill="currentColor"
                d="M516 673c0 4.4 3.4 8 7.5 8h185c4.1 0 7.5-3.6 7.5-8v-48c0-4.4-3.4-8-7.5-8h-185c-4.1 0-7.5 3.6-7.5 8v48zm-194.9 6.1l192-161c3.8-3.2 3.8-9.1 0-12.3l-192-160.9A7.95 7.95 0 0 0 308 351v62.7c0 2.4 1 4.6 2.9 6.1L420.7 512l-109.8 92.2a8.1 8.1 0 0 0-2.9 6.1V673c0 6.8 7.9 10.5 13.1 6.1zM880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z" />
        </svg>
        <h4 style="color: var(--border-highlight);">|</h4>
        <div>
            {% block navbar1 %}{% endblock %}
        </div>
        <h4 style="color: var(--border-highlight);">|</h4>
        <div style="display:flex; white-space:nowrap;">
            <input type="checkbox" id="theme_toggle" class="toggle">
            <label for="theme_toggle"></label>
            {% if session["user_id"] %}
                {% block navbar2 %}{% endblock %}
            {% else %}
                <a class="link alt" href="./login">Log In</a>
            {% endif %}
        </div>
    </nav>

    <header class="slide_in">
        {% with msgs=get_flashed_messages(True) %}
        {% if msgs %}
        {% for msg in msgs %}
        <script>
            function hide_alert(i) {
                document.getElementById("beep" + String(i)).style.animation = "nope_out 0.5s ease forwards";
            }
        </script>
        <div class="alert {{ msg[0] }}" id="beep{{ loop.index }}">
            <p>{{ msg[1] }}</p>
            <svg onclick="hide_alert({{ loop.index }})" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 512 512">
                <path
                    d="M437.5 386.6L306.9 256l130.6-130.6c14.1-14.1 14.1-36.8 0-50.9-14.1-14.1-36.8-14.1-50.9 0L256 205.1 125.4 74.5c-14.1-14.1-36.8-14.1-50.9 0-14.1 14.1-14.1 36.8 0 50.9L205.1 256 74.5 386.6c-14.1 14.1-14.1 36.8 0 50.9 14.1 14.1 36.8 14.1 50.9 0L256 306.9l130.6 130.6c14.1 14.1 36.8 14.1 50.9 0 14-14.1 14-36.9 0-50.9z"
                    fill="#888888" />
            </svg>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </header>

    <div id="content">
        {% block sidebar %}{% endblock %}  
        <main id="main" class="scroll">
            {% block main %}{% endblock %}
        </main>
    </div>

    <footer>
    </footer>
</body>

</html>