{% extends "layout.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block navbar1 %}
    <a class="link" href="./">Home</a>
    <a class="link" href="./todos">Lists</a>
    <a class="link" href="./subjects">Subjects</a>
{% endblock %}

{% block main %}
    <div id="login_form">
        <form action="/signup" method="post" class="container">
            <div class="input_box">
                <input name="username" type="text" placeholder="Username" autofocus>
            </div>
            <div class="input_box">
                <input name="password" type="password" placeholder="Password" autofocus>
            </div>
            <div class="input_box">
                <input name="confirmation" type="password" placeholder="Confirm Password" autofocus>
            </div>
            <button class="input_button" name="submit" value="submit_signup" type="submit" autofocus>Sign Up</button>
        </form>
    </div>
    <div class="container">
        <h5>Already have an account?</h5><a class="link" href="./login">Log In</a>
    </div>
{% endblock %}