{% extends "layout.html" %}

{% block title %}
Boards
{% endblock %}

{% block navbar1 %}
    <a class="link" href="./">Home</a>
    <a class="link" href="./todos">Boards</a>
{% endblock %}

{% block navbar2 %}
    <a class="link" href="./account">{{ session["user_name"] }}</a>
{% endblock %}

{% block sidebar %}
<div id="sidebar">
    <div id="pulltab" onclick="toggleSidebar()">
        <svg id="pulltab_open" class="hide" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
            viewBox="0 0 24 24">
            <path fill="currentColor"
                d="m14.475 12l-7.35-7.35q-.375-.375-.363-.888t.388-.887q.375-.375.888-.375t.887.375l7.675 7.7q.3.3.45.675t.15.75q0 .375-.15.75t-.45.675l-7.7 7.7q-.375.375-.875.363T7.15 21.1q-.375-.375-.375-.888t.375-.887L14.475 12Z" />
        </svg>
        <svg id="pulltab_close" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
            <path fill="currentColor"
                d="m3.55 12l7.35 7.35q.375.375.363.875t-.388.875q-.375.375-.875.375t-.875-.375l-7.7-7.675q-.3-.3-.45-.675T.825 12q0-.375.15-.75t.45-.675l7.7-7.7q.375-.375.888-.363t.887.388q.375.375.375.875t-.375.875L3.55 12Z" />
        </svg>
    </div>
    <div id="sidebar_content" class="scroll">
        <h4 style="border-bottom: solid var(--border-highlight);">Your Boards:</h4>
        <div id="boards_list" class="board dropzone">
            <div class="draggable board" draggable="true">
                <h6>Board 001</h6>
                <input type="checkbox">
            </div>
            <div class="draggable board" draggable="true">
                <h6>Board 002</h6>
                <input type="checkbox">
            </div>
        </div>
        <div id="trash" class="board dropzone">

        </div>
    </div>
</div>
{% endblock %}

{% block main %}
<div id="adder" class="close">
    <svg onclick="toggleAdderMenu()" id="adder_icon" xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 24 24">
        <path fill="currentColor"
            d="M11 13H6q-.425 0-.712-.288T5 12q0-.425.288-.712T6 11h5V6q0-.425.288-.712T12 5q.425 0 .713.288T13 6v5h5q.425 0 .713.288T19 12q0 .425-.288.713T18 13h-5v5q0 .425-.288.713T12 19q-.425 0-.712-.288T11 18v-5Z" />
    </svg>
    <div id="adder_menu" class="close">
        <div class="input_box">
            <input name="name" type="text" placeholder="Session Text">
        </div>
        <div class="input_box">
            <input name="start" type="date">
        </div>
        <h6>option2</h6>
    </div>
</div>
<div id="boards_view" class="board dropzone" style="width: 100%; height: 100%;">
    <div class="draggable board" draggable="true">
        <h6>Board 003</h6>
        <input type="button">
    </div>
    <div class="draggable board" draggable="true">
        <h6>Board 004</h6>
        <input type="button">
    </div>
</div>
{% endblock %}